
body {
    background-color: gray;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 20px;       
}

.main-title {
    text-align: center;
    font-size: 80px;
    margin-top: 40px;
}

th {
    background-color: gray; 
}
.header-content {
    display: flex;         
    align-items: center;     
    gap: 20px;
    flex-wrap: wrap;               
}
.header-content img {
    border-radius: 50%;
    max-width: 100%;  
    height: auto;
}
.header-content p {
    max-width: 400px;     
    line-height: 1.6;        
    margin: 0;               
}
@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }
       .header-content p {
        max-width: 90%;      
    }
}
















  footer {
  background-color: grey;
  color: black;
  text-align: center; 
  padding: 10px 20px; 
  width: 100%;
}