
body {
    background-color: gray;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 20px;       
}

.main-title {
    text-align: center;
    font-size: 80px;
    margin-top: 40px;
}

.subtitle {
    font-size: 1.1rem;
    color: #0e0d0d;
    margin: 5px 0 20px 0;
    text-align: center;
    font-style: italic;
}

.header-content {
    display: flex;         
    align-items: column; 
    align-items: center; 
    text-align: center;  
    gap: 20px;
    margin-top: 20px;
}

.profile-img {
    width: 220px;
    height: auto;
    border-radius: 50%;
    flex-shrink: 0;
}


.intro-text {
    max-width: 600px;
    line-height: 1.6;
    margin: 0 auto;   
    text-align: center;  
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;  
    gap: 30px;
}

.main-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #0a0a0a;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: gray;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .intro-text {
        max-width: 90%;
        margin-top: 15px;
    }
}
  footer {
  background-color: grey;
  color: black;
  text-align: center; 
  padding: 10px 20px; 
  width: 100%;
}