
body {
    background-color: gray;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 20px;       
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: gray; 
}
