
body {
    background-color: gray;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
}


.main-title {
    font-size: 80px;
    text-align: center;
    margin-top: 40px;
}

.subtitle {
    font-size: 1.1rem;
    color: #0e0d0d;
    margin: 5px 0 20px 0;
    text-align: center;
    font-style: italic;
}


.header-content {
    display: flex;        
    align-items: center;   
    justify-content: center;  
    gap: 20px;                
    margin-top: 20px;
    flex-wrap: wrap;           
}

.profile-img {
    width: 220px;
    height: auto;
    border-radius: 50%;
    margin: 0;
    flex-shrink: 0;
}

.intro-text {
    max-width: 600px;
    line-height: 1.6;
    text-align: left;  
    margin: 0; 
}
.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;  
    gap: 30px;
}

.main-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #0a0a0a;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: gray;
}


footer {
    background-color: grey;
    color: black;
    text-align: center; 
    padding: 10px 20px; 
    width: 100%;
}


@media (max-width: 768px) {
    .header-content {
        flex-direction: column; 
        text-align: center;   
    }

    .intro-text {
        max-width: 90%;
        margin-top: 15px;
        text-align: center; 
    }
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;       
    max-width: 400px; 
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label {
    font-weight: bold;
}
input[type="text"], input[type="email"] {
    padding: 10px;
    border: 2px solid #6d6c6c1f;
    border-radius: 4px;
}
