
body {
    background-color: gray;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
    margin: 0;
}
.logo-img {
    width: 400px; 
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}
.main-title {
    font-size: 50px;
    text-align: center;
    margin: 0 0 10px 0;
}

.subtitle {
    font-size: 1.1rem;
    color: #0e0d0d;
    text-align: center;
    font-style: italic;
    margin: 0 0 20px 0;
}


.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.main-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 40px; 
}

.main-nav a:hover {
    color: #0a0a0a;
}


.search-form {
    max-width: 280px;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-form input[type="search"] {
    padding: 10px;
    border: 2px solid #6d6c6c1f;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.search-form button {
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #333;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-form button:hover {
    background-color: #333;
    color: #fff;
}


.header-content {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    line-height: 1.6;
}


form.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(155,153,153);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form.contact-form input[type="text"],
form.contact-form input[type="email"] {
    padding: 10px;
    border: 2px solid #6d6c6c1f;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: gray;
}


footer {
    background-color: grey;
    color: black;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}


@media (max-width: 768px) {
    .main-nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .header-content {
        max-width: 90%;
        margin-top: 15px;
    }

    .search-form {
        max-width: 90%;
    }

    form.contact-form {
        max-width: 90%;
    }
}

