
body {
    background-color: gray;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 20px;       
}

.main-title {
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
}

th {
    background-color: gray; 
}
